* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #E1E5F2;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: #022B3A;
    color: #E1E5F2;
    height: 80px;
    display: flex;
    justify-content: space-between;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.navbar li{
    display: flex;
}

.navbar li a {
    display: flex;
    justify-content: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
}

.logo{
    font-size: 28px;
    font-weight: 700;
}

.link{
    font-size: 17px;
}

.coin{
    width: 35px;
    margin: 0 7px;
}

.us{
    width: 35px;
}

.lang-menu{
    margin-top:25px;
    margin-right: 25px;
    position: relative;
}

.lang-menu ul li{
    display: flex;
}

.selected-lang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
    margin-right: 25px;
}

.selected-lang::before{
    content:'';
    display:block;
    width: 32px;
    height: 32px;
    background-image: url('/Assets/united-states.png');
    background-size: cover;
}

.lang-menu ul{
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
}

.lang-menu ul li a{
    width: 125px;
    display: block;
    padding: 5px 10px;
    color:black;
}

.lang-menu ul li a::before{
    content:'';
    display:inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
    background-image: url('/Assets/united-states.png');
    background-size: cover;
}

.lang-menu ul li a:hover{
   background-color: #f2f2f2;
}

.id::before{
    background-image: url('/Assets/united-states.png');
}

.us::before{
    background-image: url('/Assets/united-states.png');
}

.lang-menu:hover ul{
    display: block;
}
