
body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Inter', sans-serif;
}

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

.container {
    display: flex;
    height: 100vh;
}

.login-section, 
.signup-section 
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-section h2 {
    padding-bottom: 60px;
    color: #022B3A;
    font-size: 4.375rem;
}

.login-section h2 {
    font-size: 3.125rem;
    padding-bottom: 50px;
}

.login-section h2, .signup-section h2 {
    font-weight: bold;  
    margin: 0;
}

.login-section {
    background-color: #022B3A;
    color: #E1E5F2;
    text-align: center;
}

.login-section p {
    margin-bottom: 50px;
}

.login-section button {
    background-color: #E1E5F2;
    color: #022B3A;
}

.signup-section {
    background-color: #E1E5F2;
    justify-content: flex-start; /* Aligns items to the start of the section */
    padding-top: 25vh; 
}


p {
    margin-bottom: 20px;
    font-size: 1.5625rem;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #062A42;
    color: #fff;
    font-family: 'Inter', sans-serif;
    height: 27.5px;
}

.signup-button {
    background-color: #022B3A;
    color: #E1E5F2;
    margin-top: 50px;
}

.signup-button, .login-button {
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 1.5625rem
}

.signup-button:hover {
    background-color: #055272;
}

.login-button:hover {
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form .input-field, 
form .signup-button {
    max-width: 300px; /* Optional: Limit the width of the input fields and button */
}
