.page-content{
    margin: 0 20%;
    background-color: #E1E5F2;
    padding: 4%;
    margin-top: 24px;
}

.heading {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-align: middle;
    text-align: auto;
    color: #022B3A;
  }

  .paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: top;
    text-align: fixed;
    text-align: justify;
    color: #022B3A;
  }



.container {
    background-color: #E1E5F2;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 1182%;
    max-width: 904px;
}


.container {
    background-color: #CED3E1;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}



